
/* Keyframes */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



/* Quiz Title */
.quiz-title {
    font-size: 60px;
    position: relative;
    margin: 40px; /* Added margin for spacing */
    text-align: left;
}

/* Question Widget */
#container {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 20px; /* Added margin for spacing */
    min-width: 500px;
    max-width: 800px;
    padding: 35px;
    padding-top: 5px;
    box-shadow: 60px, -16px, black;
    border-radius: 20px;
    background-color: inherit;
}

/* Question Header */
#question-header {
    font-size: 48px;
}

/* Question Text */
.question-text {
    font-size: 24px;
}

/* Answer Options */
#answer-options {
    display: flex;
    flex-direction: column; /* Stack items vertically */
}

/* Answer Button */
.answer-button {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    margin-top: 10px;
    background-color: transparent;
    border-style: solid;
    border-radius: 10px;
    transition: transform 0.2s ease;
    color: inherit;
    border-color: inherit;

    max-width: 100vw;
}

.answer-button:active {
    transform: translate(0px, 6px);
}

.answer-button.selected {
    background-color: aquamarine;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    bottom: 20px;
    margin-bottom: 20px;

    width: 100vw;
    height: max-content;
}

/* Navigation Buttons */
.back-button, .next-button {
    font-size: 40px;
    font-weight: bolder;
    transition: transform 0.2s ease;

    background-color: transparent;
    border-color: transparent; 

    color: inherit;

}

.back-button {
    position: absolute;
    left: 20px;
}

.next-button {
    position: absolute;
    right: 20px;
}

.back-button:active{
    transform: translate(-6px, 6px);

} 

.next-button:active {
    transform: translate(6px, 6px);
}

#submit-button {
    font-size: 24px;
    font-weight: bold;
    left: 50%;
    background: none;
    border: none;
    margin: auto;

    text-align: center;

    color: inherit;

    transition: transform 0.2s ease;
}

#submit-button:active {

    transform: translate(0, 6px);
}